<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD
3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/objetos</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property> <!-- en true muestra hql en consola -->
		<!--Mapeo Entidades -->
		<mapping resource="mapeos/Ferrocarril.hbm.xml" />
		<mapping resource="mapeos/Viaje.hbm.xml" />
		<mapping resource="mapeos/Pasaje.hbm.xml" />
		<mapping resource="mapeos/Usuario.hbm.xml" />
		<mapping resource="mapeos/Contacto.hbm.xml" />
		<mapping resource="mapeos/Login.hbm.xml" />
		<mapping resource="mapeos/Butaca.hbm.xml" />
		<mapping resource="mapeos/Vagon.hbm.xml" />
		<mapping resource="mapeos/Clase.hbm.xml" />
	</session-factory>
</hibernate-configuration>